.icon-139dianzipiao:before { content: "\e889"; color: #06c1e9; font-size: 1.1rem; display: inline-block;}
.icon-33go:before { content: "\e61f"; }
.icon-137shuipiao:before { content: "\e888"; color: #06c1e9; font-size: 1.1rem; display: inline-block;}
.icon-135fukuan:before { content: "\e88a"; color: #06c1e9; font-size: 1.1rem; display: inline-block;}
.icon-137shuipiao.off:before { content: "\e887"; color: #000; font-size: 1.1rem; display: inline-block;}
