<!DOCTYPE html>
<html lang="en">
#parse("control/$!webStyle/version.vm")
#set($currentPage = "antifake")
#parse("control/$!webStyle/indexCss.vm")
<body>
    <div class="page-group">
        <div class="page page-finish page-current">
        </div>
        <!-- 防伪码验证结果 -->
        <div class="popup popup-validate"> 
          <div class="content-block" data-role="validate">
            
          </div>
        </div>
    </div>
<script id="validateTpl" type="text/x-handlebars-template">
    {{#is data.tag "1"}}
    <div class="content">
        <div class="validate-banner">
            <img src="{{data.codeInfo.companyLogo}}" alt="">
        </div>
        <div class="validate-content">
            <div class="validate-status">
                <svg class="icon icon-svg" aria-hidden="true" >
                    <use xlink:href="#icon-code_on"></use>
                </svg>
            </div>
            <div class="tips">水趣防伪溯源认证提示您：本产品编码<span>{{data.codeInfo.code}}，</span>为{{data.codeInfo.companyName}}的正品，请放心使用，谢谢查询。</div>
            <div class="modal modal-out" style="top: 40%;width: 85%;left: 0;margin-left: 7.5%;" data-role="validate-detail">
                <div class="modal-inner" style="background: #F9D700;border:2px solid #D4D6D2;border-radius:0.35rem;text-align: left;">
                    <div class="modal-text">
                        <p>品名：{{data.codeInfo.productName}}</p>
                        <p>品牌：{{data.codeInfo.productBrand}}</p>
                        <p>班次：{{data.codeInfo.classes}}</p>
                        <p>时间：{{data.codeInfo.madeDate}}</p>
                        <p>天气：{{data.codeInfo.water}}</p>
                        <p>产地：{{data.codeInfo.beltlineAddress}}</p>
                        <svg class="icon icon-svg close-win" aria-hidden="true" data-role="close-win" style="position: absolute;right: -0.6rem;top: -0.8rem;font-size: 1.5rem;width: 1.5rem;height: 1.5rem;line-height: 1.5rem;border-radius: 50%;">
                            <use xlink:href="#icon-close1"></use>
                        </svg>
                    </div>
                </div>   
            </div>
            <div class="modal-overlay" data-role="modal-overlay"></div>       
        </div>
        <div class="show-picture"><img src="{{data.codeInfo.productImage}}" alt=""></div>
        <a href="#" data-role="show-detail" class="button button-fill btn-yello show-detail">查看详情</a>
    </div>
    {{else}}
        {{#is data.tag "0"}}
        <div class="content">
            <div class="validate-banner">
                <img src="{{data.codeInfo.companyLogo}}" alt="">
            </div>
            <div class="validate-content">
                <div class="validate-status">
                    <svg class="icon icon-svg" aria-hidden="true" >
                        <use xlink:href="#icon-code_off"></use>
                    </svg>
                </div>
                <div class="tips">水趣防伪溯源认证提示您：本产品编码<span>{{data.codeInfo.code}}，</span>已被查询，请谨防假冒。<span class="first-query">首次查询时间：{{data.codeInfo.fristDate}}</span></div>
                <div class="modal modal-out" style="top: 40%;width: 85%;left: 0;margin-left: 7.5%;" data-role="validate-detail">
                    <div class="modal-inner" style="background: #F9D700;border:2px solid #D4D6D2;border-radius:0.35rem;text-align: left;">
                        <div class="modal-text">
                            <p>品名：{{data.codeInfo.productName}}</p>
                            <p>品牌：{{data.codeInfo.productBrand}}</p>
                            <p>班次：{{data.codeInfo.classes}}</p>
                            <p>时间：{{data.codeInfo.madeDate}}</p>
                            <p>天气：{{data.codeInfo.water}}</p>
                            <p>产地：{{data.codeInfo.beltlineAddress}}</p>
                            <svg class="icon icon-svg close-win" aria-hidden="true" data-role="close-win" style="position: absolute;right: -0.6rem;top: -0.8rem;font-size: 1.5rem;width: 1.5rem;height: 1.5rem;line-height: 1.5rem;border-radius: 50%;">
                                <use xlink:href="#icon-close1"></use>
                            </svg>
                        </div>
                    </div>   
                </div>
                <div class="modal-overlay" data-role="modal-overlay"></div>
            </div>
            <div class="show-picture"><img src="{{data.codeInfo.productImage}}"></div>
            <a href="#" data-role="show-detail" class="button button-fill btn-yello show-detail">查看详情</a>
        </div>
        {{else}}
        <div class="content content-query-fail">
            <i class="icon icon-no_code"></i><span>很遗憾！查询不到该消息！</span>
        </div>
        {{/is}}
    {{/is}}
</script>
<script type='text/javascript' src='/files/common/js/zepto.min.js' charset='utf-8'></script>

<script>
  $.config = {router: false}
  var autoScanQrcode = true;
</script>
#*加载JS文件*# 
#parse("control/$!webStyle/publicJs.vm")
#parse("control/$!webStyle/globalJs.vm")
<script>
    //扫描二维码并返回结果
    function startScanQRCode(){
        wx.scanQRCode({
            needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
                var codeUrl = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                $.ajax({
                    type: "post",
                    url: "/weixin/verifyCodeByApp",
                    data:{
                        codeUrl:codeUrl
                    },
                    dataType: 'json',
                    complete: function(json) {
                    
                        var data = json.response;
                        var status = json.status;
                        if(status != 200){
                            $.alert('网络异常，状态为3.2' + status);
                            return;
                        }
                        if ($.type(data) == 'string') {
                            data = JSON.parse(data);
                        }if(data.code != 'E00000'){
                            // $.alert(data.message);
                            var context = {
                                data: data.data
                            };
                            var validateTpl = $("#validateTpl").html();
                       
                            var validateTemplate = Handlebars.compile(validateTpl);
                            var validateCont = validateTemplate(context);

                            $('[data-role="validate"]').html(validateCont);
                            $.popup(".popup-validate");
                        }else{
                            var context = {
                                data: data.data
                            };
                            if(data.data.tag == 1 ){
                                
                                var validateTpl = $("#validateTpl").html();
                       
                                var validateTemplate = Handlebars.compile(validateTpl);
                                var validateCont = validateTemplate(context);

                                $('[data-role="validate"]').html(validateCont);
                                $.popup(".popup-validate");
                            }else if(data.data.tag == 0){
                                
                                
                                var validateTpl = $("#validateTpl").html();
                       
                                var validateTemplate = Handlebars.compile(validateTpl);
                                var validateCont = validateTemplate(context);

                                $('[data-role="validate"]').html(validateCont);
                                $.popup(".popup-validate");

                            }else{
                                
                                var validateTpl = $("#validateTpl").html();
                       
                                var validateTemplate = Handlebars.compile(validateTpl);
                                var validateCont = validateTemplate(context);

                                $('[data-role="validate"]').html(validateCont);
                                $.popup(".popup-validate");
                            }
                            $('[data-role="show-detail"]').on('click',function(e){
                                e.preventDefault();
                                $("[data-role='validate-detail']").show().removeClass("modal-out").addClass("modal-in");
                                $('[data-role="modal-overlay"]').addClass("modal-overlay-visible");
                            })
                            $('[data-role="close-win"]').on('click',function(e){
                                e.preventDefault();
                                $("[data-role='validate-detail']").removeClass("modal-in").addClass("modal-out").hide();
                                $('[data-role="modal-overlay"]').removeClass("modal-overlay-visible");
                            });
                        }
                      
                    }
                });
            
            }
        });
        
    }
    setTimeout(function(){startScanQRCode();},1000)
</script>
</body>
</html>
