<!DOCTYPE html>
<html lang="en">
#set($currentPage = "editCashAccount")
#parse("control/$!webStyle/version.vm")
#parse("control/$!webStyle/shopCss.vm")
<body>
  <div class="page-group">
		<div class="page page-finish page-current">
			<header class="bar bar-nav light-nav">
	            <a href="/weixin/everyShop" class="icon icon-35icoback pull-left bar-left"></a>  
	            <h1 class="title">修改推客提现账号</h1>
	        </header>
	        <div class="content content-addCash">
	        	<table>
	                <tr>
	                    <td class="pull-left">
	                        <i class="icon icon-49zhifubao"></i><b>支付宝</b>
	                        <label class="label-checkbox">
	                            <input type="radio" value="1" name="default" checked/>
	                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
	                            
	                        </label>
	                    </td>
	                    <td class="pull-right">
	                        <!-- <label class="label-checkbox">
	                            <input type="radio" value="2" name="default" class="cur"/>
	                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>

	                        </label><svg class="icon icon-svg" aria-hidden="true">
				                <use xlink:href="#icon-yinhang"></use>
				            </svg></i>银行卡 -->
				            <span class="icon icon-card"></span>
				            <b>银行卡</b> <u>暂未开通</u>
	                    </td>
	                </tr>
	            </table>
	            <div class="list-block new-form-list">
				  <ul>
				    <li>
				      <div class="item-content">
				        <div class="item-inner">
				          <div class="item-title label">账号：</div>
				          <div class="item-input">
				            <input type="text" name="alipayNo" placeholder="您的支付宝账号"></div>
				        </div>
				      </div>
				    </li>
				    <li>
				      <div class="item-content">
				        <div class="item-inner">
				          <div class="item-title label">姓名：</div>
				          <div class="item-input">
				            <input type="text" name="alipayName" placeholder="您的真实姓名"></div>
				        </div>
				      </div>
				    </li>
				    <li>
				      <div class="item-content">
				        <div class="item-inner">
				          <div class="item-title label">手机：</div>
				          <div class="item-input">
				            <input type="text" name="mappingTel" placeholder="接收提现通知短信的手机号" maxlength="11"></div>
				        </div>
				      </div>
				    </li>
				    <li>
				      <div class="item-content">
				        <div class="item-inner">
				          <div class="item-title label">身份证：</div>
				          <div class="item-input">
				            <input type="text" name="identityId" placeholder="请输入您的身份证号" ></div>
				        </div>
				      </div>
				    </li>
				  </ul>
				  <ul>
				    <li>
				      <div class="item-content">
				        <div class="item-inner">
				          <div class="item-title label">提现密码：</div>
				          <div class="item-input">
				            <input type="password" name="dealPass" placeholder="请输入提现密码（6位数字）" ></div>
				        </div>
				      </div>
				    </li>
				  </ul>
				  <!-- <ul style="display:none;">
				    <li>
				      <div class="item-content">
				        <div class="item-inner">
				          <div class="item-title label">账号：</div>
				          <div class="item-input">
				            <input type="text" name="yinhangNumber" placeholder="您的银行卡号"></div>
				        </div>
				      </div>
				    </li>
				    <li>
				      <div class="item-content">
				        <div class="item-inner">
				          <div class="item-title label">姓名：</div>
				          <div class="item-input">
				            <input type="text" name="yinhangName" placeholder="您的真实姓名"></div>
				        </div>
				      </div>
				    </li>
				    <li>
				      <div class="item-content">
				        <div class="item-inner">
				          <div class="item-title label">银行：</div>
				          <div class="item-input">
				            <input type="text" name="kaihuhang" placeholder="您的开户银行"></div>
				        </div>
				      </div>
				    </li>
				  </ul> -->
				  <p>
				    <a href="#" class="button button-fill btn-yello" data-role="btn-ok">确认提交</a></p>
                  <p class="edit-forget"><a href="/weixin/editCash" class="pull-left">修改提现密码</a><a href="/weixin/forgetCash" class="pull-right">忘记提现密码</a></p>
				</div>
	        </div>
	        
	    </div>
	</div>
	<script type='text/javascript' src='/files/common/js/zepto.min.js' charset='utf-8'></script>
	<script>
          $.config = {router: false}
    </script>
    <script type='text/javascript' src='/files/common/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/files/common/js/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/files/common/js/handlebars-v4.0.5.js' charset='utf-8'></script>
    <script src="/files/common/css/$!webStyle/iconfont.js"></script>
    <script src="/files/js/$!webStyle/common.js?v=$version"></script>
    <!-- #if($!webStyle == "shuiqu")
    <script type='text/javascript' src='http://ow3heuhv0.bkt.clouddn.com/zepto.min.js' charset='utf-8'></script>
	<script>
          $.config = {router: false}
    </script>
    <script type='text/javascript' src='http://ow3heuhv0.bkt.clouddn.com/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://ow3heuhv0.bkt.clouddn.com/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://ow3heuhv0.bkt.clouddn.com/handlebars-v4.0.5.js' charset='utf-8'></script>
    <script src="http://ow3heuhv0.bkt.clouddn.com/iconfont.js"></script>
    <script src="http://ow3heuhv0.bkt.clouddn.com/common.js"></script>
    #else
    <script type='text/javascript' src='http://oy27drxeq.bkt.clouddn.com/zepto.min.js' charset='utf-8'></script>
    <script>
          $.config = {router: false}
    </script>
    <script type='text/javascript' src='http://oy27drxeq.bkt.clouddn.com/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://oy27drxeq.bkt.clouddn.com/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://oy27drxeq.bkt.clouddn.com/handlebars-v4.0.5.js' charset='utf-8'></script>
    <script src="http://oy27drxeq.bkt.clouddn.com/iconfont.js"></script>
    <script src="http://oy27drxeq.bkt.clouddn.com/common.js"></script>
    #end -->
    #parse("control/$!webStyle/globalJs.vm")
    <script>
        $(function(){
            var alipayNoDid   = localStorage.getItem("alipayNoDid");
            var alipayNameDid = localStorage.getItem("alipayNameDid");
            var mappingTelDid = localStorage.getItem("mappingTelDid");
            var identityIdDid = localStorage.getItem("identityIdDid");
            $('input[name=alipayNo]').val(alipayNoDid);
            $('input[name=alipayName]').val(alipayNameDid);
            $('input[name=mappingTel]').val(mappingTelDid);
            if(identityIdDid !=""){
            	$('input[name=identityId]').val(identityIdDid.replace(/^(.{6})(?:\d+)(.{4})$/,"$1****$2"));
            }
        	//获取用户提交的表单数据
			var flag=0;
            $('[data-role="btn-ok"]').on('click',function(e){
                e.preventDefault();
                flag++;
                console.log(flag);
                if(flag > 1){
                    return;
                }
                          
                var alipayNo   = $.trim($('input[name=alipayNo]').val());
                var alipayName = $.trim($('input[name=alipayName]').val());
                var mappingTel = $.trim($('input[name=mappingTel]').val());
                var identityId = $.trim($('input[name=identityId]').val());
                if(identityId && identityId==identityIdDid.replace(/^(.{6})(?:\d+)(.{4})$/,"$1****$2")){
                	identityId=identityIdDid
                }
                var dealPass   = $.trim($('input[name=dealPass]').val());
                $('.err-msg').remove();
                if(alipayNo == ""){
                    $('input[name=alipayNo]').parents('.item-content').after('<p class="err-msg">支付宝账号不能为空</p>');
                    flag=0;
                    return;
                }
                if(alipayName == ""){
                    $('input[name=alipayName]').parents('.item-content').after('<p class="err-msg">姓名不能为空</p>');
                    flag=0;
                    return;
                }
                if(mappingTel == "" || /^1[3|4|5|7|8][0-9]{9}$/.test(mappingTel)==false){

                    $('input[name=mappingTel]').parents('.item-content').after('<p class="err-msg">手机号码不正确</p>');
                    flag=0;
                    return;
                }
                if(identityId != "" && /^\d{6}(19|20)?\d{2}(0[1-9]|1[12])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i.test(identityId)==false){
                    $('input[name=identityId]').parents('.item-content').after('<p class="err-msg">身份证号不正确</p>');
                    flag=0;
                    return;
                }
                if(dealPass == "" || /^\d{6}$/.test(dealPass)==false){
                    $('input[name=dealPass]').parents('.item-content').after('<p class="err-msg">提现密码不符合要求</p>');
                    flag=0;
                    return;
                }

                $.ajax({
                    type: "post",
                    url: "/weixin/saveEarningAccount",
                    data: {
                        alipayNo : alipayNo,
                        alipayName : alipayName,
                        mappingTel : mappingTel,
                        identityId : identityId,
                        dealPass : dealPass
                    },
                    dataType: 'json',
                    complete: function(json) {
                      
                        var status = json.status;
                        if(status != 200){
                            $.alert('网络异常，状态为22.2' + status);
                            flag=0;
                            return;
                        }
                        var data = json.response;
                       
                        if ($.type(data) == 'string') {
                            data = JSON.parse(data);
                        }
                        if(data.code != 'E00000'){
                            if(data.code == "-1"){
                                window.location.href = "/weixin/bind";
                            }else{
                                $.alert(data.message);
                                flag=0;
                                return;
                            }
                        }else{
                            flag=0;
                            localStorage.setItem("alipayNoDid",alipayNo);
                            localStorage.setItem("alipayNameDid",alipayName);
                            localStorage.setItem("mappingTelDid",mappingTel);
                            localStorage.setItem("identityIdDid",identityId);
                            $.alert('修改提现账号成功',function(){
                                window.location.href="/weixin/everyShop";
                            });
                        }
                    }
                });
            });
            $('.new-edit-list input').on('change', function(){
                $(this).parents('li').find('.err-msg').remove();
            });
        })
        $.init();
    </script>
</body>
</html>