<!DOCTYPE html>
<html lang="en">
#parse("control/$!webStyle/version.vm")
#parse("control/$!webStyle/indexCss.vm")
<body>
    <div class="page-group">
        <div class="page page-finish page-current">
            <header class="bar bar-nav light-nav">
                <a href="/weixin/home" class="icon icon-35icoback pull-left bar-left"></a>  
                <h1 class="title">附近水店</h1>
            </header>

            <div class="content">
                <ul class="show-list has-border" data-role="list-container">
                   
                </ul>
            </div>
  
        </div>
       
    </div>
    <script id="tpl" type="text/x-handlebars-template">
        {{#each data}}
        <li>
            <a data-url="/weixin/products?eid={{eid}}&shopId={{shopId}}" data-name="{{shopName}}" href="">
                <table>
                   <tr>
                       <td><img src="{{pictureUrl}}" alt=""></td>
                       <td>
                           <h4>{{shopName}}</h4>
                           <div data-grade="{{grade}}">
                                {{{showShopStars grade}}}
                            </div>
                           <p>起送价 ￥{{minSendPrice}} | 配送费 ￥ {{freight}} | {{sendOnTime}}分钟</p>
                           <p>{{#is distance '>=' 1000}}{{ceil distance}}km{{/is}}{{#is distance '<' 1000}}{{parseInt distance}}m{{/is}}</p>
                       </td>
                   </tr>
                </table>
            </a>
       </li>
        {{/each}}
    </script>
    #*加载JS文件*# 
    #parse("control/$!webStyle/publicJs.vm")
    #parse("control/$!webStyle/globalJs.vm")
    <script>
        var appid = "";
        $.ajax({
            type: "get",
            url: "/weixin/checkWeiXinLogin",
            dataType: 'json',
            async:false,
            complete: function(json) {
                
                var data = json.response;
                var status = json.status;
                
                if(status != 200){
                    $.alert('网络异常9.2，状态为' + status);
                    return;
                }
                if ($.type(data) == 'string') {
                    data = JSON.parse(data);
                }
                if(data.data){
                    appid = data.data.appid;
                }
                if(data.code != 'E00000'){
                    if(data.code == "-1"){
                        // window.location.href = "/weixin/bind";
                    }else{
                        $.alert(data.message);
                        return;
                    }
                }else{
                    appid = data.data.appid
                    console.log(data.data.appid);
                    // var appid = res.data.data.appid;
                }
                
            }
        });
        $(function() {
            $('[data-role="product-bar"] a').click(function(){
                $('[data-role="product-bar"] a').removeClass('active');
                $(this).addClass('active');
            });
            var shopMap = getQueryString('shopJoint');
            var location = JSON.parse(localStorage.getItem("wxlocation"+appid));
            var lat = "";
            var lon = "";
            //$.alert(localStorage.getItem("wxlocation"));
            if(location && location.lat){
                lat = location.lat;
                lon = location.lon;
                $.ajax({
                    type: "get",
                    url: "/weixin/getBrandShopList?shopMap=" + shopMap + "&location=" + lat + "," + lon,
                    dataType: 'json',
                    complete: function(json) {
                      
                        var data = json.response;
                        //$.alert(data);
                        var status = json.status;
                        if(status != 200){
                            $.alert('网络异常8.1，状态为' + status);
                            return;
                        }
                        if ($.type(data) == 'string') {
                            data = JSON.parse(data);
                        }
                        if(data.code != 'E00000'){
                            if(data.code == "-1"){
                                window.location.href = "/weixin/bind";
                            }else{
                                $.alert(data.message);
                                return;
                            }
                        }else{
                            //console.log(data.data);
                            var tpl = $("#tpl").html();
                            var template = Handlebars.compile(tpl);
                            var context = {
                                data: data.data.shops
                            };
                            var cont = template(context);
                            
                            $('[data-role="list-container"]').html(cont);
                            
                        }
                        
                    }
                });
            }else{
                window.location.href = "/weixin/city";
            }
            
            $('[data-role="list-container"]').delegate("a", "click", function(e){
                e.preventDefault();
                var me = $(this),
                    url = me.data('url'),
                    shopName = me.data('name');

                    localStorage.setItem("shopName", shopName);
                    window.location.href = url;
            });
        });
        $.init();
    </script>
  </body>
</html>